@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

@font-face {
  font-family: 'gora_freeregular';
  src: url('gora-free-webfont.woff2') format('woff2'),
       url('gora-free-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body{
  margin: 0px;
}
ul{
  margin:0;
  padding: 0;
}
ul li{
  list-style: none;
}
.header{
  background: #131415;
  margin-bottom: 79px;
}
.container{
  margin: 0 auto;
  width: 1060px;
  
  }
  .header_container{
    height: 77px;
  position: relative;
  }

.headername{
  position: absolute;
  top: 31px;
  left: 0;
  bottom: 28px;
  }
.headername_ref{
 text-decoration: none;
 color:#f89513;
 font-family: GoraFree;
 font-size: 20px;
 font-weight: normal;
 font-style: normal;
 letter-spacing: 2px;
 font-stretch: normal;
 width: 160px;
}
.sidebar{
  position: absolute;
  margin: 0 auto;
  top:20px;
  margin-left: 340px;
  margin-right: 379px;
  
}
.nav_item{
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-left: 28px;
  
}
  .nav_link{
  text-decoration: none;
  font-family: OpenSans;
  font-size: 9px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  height: 9px;
  letter-spacing: 4px;
}

.contacts{
  position: absolute;
  right: 0;
  top: 22px;
  text-align: right;
}
.contacts_phone{
  color: #fff;
  font-family: OpenSans;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-decoration: none;
  }
.contacts_hours{
  color: rgba(248, 149, 19, 0.7);
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  }
  .main_desc_slogan{
    margin: 0;
  }

/*
.contacts{
  position: absolute;
  right: 21;
  top: 21;
  width: 1100px;
  height: 77px;
  }*/