@font-face {
  font-family: 'gora_freeregular';
  src: url('gora-free-webfont.woff2') format('woff2'),
       url('gora-free-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
body{

  margin: 0px;
}
ul{
  margin:0;
  padding: 0;
}
ul li{
  list-style: none;
}
.header{
  background: #131415;
  margin-bottom: 79px;
}
.container{
  margin: 0 auto;
  width: 1060px;
  
  }
  .header_container{
    height: 77px;
  position: relative;
  }

.headername{
  position: absolute;
  top: 31px;
  left: 0;
  bottom: 28px;
  }
.headername_ref{
 text-decoration: none;
 color:#f89513;
 font-family: GoraFree;
 font-size: 20px;
 font-weight: normal;
 font-style: normal;
 letter-spacing: 3px;
 font-stretch: normal;
 width: 160px;
}
.sidebar{
  position: absolute;
  margin: 0 auto;
  top:20px;
  margin-left: 340px;
  margin-right: 379px;
  
}
.nav_item{
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-left: 28px;
  
}
  .nav_link{
  text-decoration: none;
  font-family: OpenSans;
  font-size: 9px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  height: 9px;
  letter-spacing: 4px;
}

.contacts{
  position: absolute;
  right: 0;
  top: 22px;
  text-align: right;
}
.contacts_phone{
  color: #fff;
  font-family: OpenSans;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-decoration: none;
  }
.contacts_hours{
  color: rgba(248, 149, 19, 0.7);
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  text-decoration: underline;
  letter-spacing: 2px;
  }
  .pagecontent_container{
   width: 1158px;
  }
  .main_desc{
    text-align: center;;
  }
.main_desc_features{
  font-family: OpenSans;
  color: #ffffff;
  background: #131415;
  height: 570px;
  
}
.main_desc_img{
  margin-bottom: 58px;
}
.features_text{
  height: 35px;
  padding-top:66px;
  font-size: 49px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.78;
  letter-spacing: 2px;
  margin-bottom: 63px;
  }
  .features_type_item{
    display: inline-block;
    margin-right: 30px;
  }
  
.icon_radius{
  position: absolute;
  display: inline-block;
  width: 65px;
  height: 65px;
  background: #f89513;
  border-radius: 50%;
 left: 70px;
 top: 0;
  
}

.uniq{
  font-size: 11px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 4.68;
  letter-spacing: 2.64px;
}
.uniq_text{
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
 word-wrap: break-word;
  width: 195px;
}
.uniq_about{
  padding-left: 35px;
}
.uniq_about_item{
  display: list-item;
  list-style-type: disc;
  text-align: left;
}
.logo_uniq{
  margin-bottom: 40px;
}

.news_last_text{
  font-family: OpenSans;
  font-size: 49px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.78;
  letter-spacing: 1.47px;
  text-align: center;
  color: #221f1f;
}
.news_last,.top_news{
  display: inline-block;
  vertical-align: top;
}
.news_item{
  display: block;
  width: 921px;
 }
.news_desc{
  display: inline-block;
  width: 685px;
}
.news_pic{
  display: inline-block;
  margin-left: 20px;
  margin-right: 30px;
  width: 160px;
  height: 160px;
}
.news_desc{
  display: inline-block;
  vertical-align: top;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #221f1f;
  word-wrap: break-word;
  margin-bottom: 60px;
}
.news_date{
  color: rgba(34, 31,31,.5);
  font-weight: normal;
}
.news_name{
  font-weight: bold;
  }
  .news_text{
    padding-top: 30px;
  }
  .text_top_news{
  font-family: OpenSans;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: 2.4px;
  text-align: center;
  color: #221f1f;
  }
  .month_top_news{
    font-family: OpenSans;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: 2.4px;
  text-align: center;
  color:  rgba(34, 31,31,.5);
  }
  .top_news_pic{
    margin-bottom: 20px;
  }
/*
.contacts{
  position: absolute;
  right: 21;
  top: 21;
  width: 1100px;
  height: 77px;
  }*/