.contacts{
  font-style: normal;
  font-family: 'Open Sans';
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.contacts__phone{
  color: #fff;
  
  font-size: 21px;
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
  line-height: 1.4;
 
 }
.contacts__hours{
  color: rgba(248, 149, 19, 0.7);
  font-size: 14px;
  font-weight: bolder;
  text-decoration: underline;
  
  text-align: right;
}
.dropdown{
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-family: 'Open Sans';
  line-height: 1.5;
  text-align: center;
  padding: 50px 20x;
}
.dropdown:hover .dropdown__menu{
display: block;
}
.dropdown__menu{
  position: absolute;
  background: white;
  top: 100%;
  display: none;
  color: black;
}
.contacts__hours:hover{
  color: #fff;
}
.dropdown__item:nth-child(1){
  color: #f89513;
}