.features{
  position: relative;
  margin: 0 auto;
  width: 789px;
  padding-top: 66px;
  text-align: center;
  padding-bottom: 102px;
}
.features h2{
  position: relative;
  display: inline-block;
  font-size: 49px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 2px;
  margin-bottom: 58px;
}
.features__desc{
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.desc__item{
  display: flex;
  max-width: 240px;
  flex-direction: column;
 
}
.iconradius{
  position: relative;
  width: 65px;
  height: 65px;
  margin: 0 auto;
  background: #f89513;
  border-radius: 50%;
  margin-bottom: 40px;
}
.iconimage{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.desc__item h3{
   margin-bottom: 30px;
  font-size: 11px;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 2.64px;
}
.features span{
  
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  word-wrap: break-word;
  line-height: 1.67;
}
.desc__item ul{
  padding-left: 50px;
}
.desc__item li{
  display: list-item;
  list-style-type: disc;
  text-align: left;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.67;
}