
.listvertical{
 display: flex;
 flex-direction: column;
 align-items: center;
 
 padding-bottom: 50px;
 /*flex-wrap: wrap;
 align-items: flex-start;*/
}
.listvertical__ref{
  text-decoration: none;
}
.listvertical__avatar{ 
  border-radius: 3%;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.listvertical__avatar::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0,0,0,.5);
}
.listvertical__avatar:hover::after{
  background: none;
}
.listvertical__pic{
  height: 153px;
  width: 250px;
  display: block;
  object-fit: cover;
  
  
}
.listvertical__inscr{
  display: flex;
  color: white;
  font-size: 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.listvertical__desc{
  font-family: 'Roboto';
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #221f1f;
  word-wrap: break-word;
 
}
.listvertical span{
  display: block;
  line-height: 21px;
  font-weight: bold;
  margin-bottom: 5px;
}
.listvertical p{
  display: block;
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
  font-weight: 400;
}