.logo{
}
.logo__ref{
  text-decoration: none;
  color:#f89513;
  font-family: Gora Free, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 3px;
  font-stretch: normal;
}
.logo--middle{
  
}