
.main-content{
display: flex;
flex-direction: column;
align-items: flex-start;
width: 70%;
}
.main-content--reviews{
padding-top: 40px;
display: flex;
flex-direction: column;
align-items: flex-start;
width: 75%;
}
.main-content--services{
  display: flex;
flex-direction: column;
align-items: flex-start;
  padding-top: 41px;
  }