.network{
  margin: 0 auto;
}
.network__title{
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  
  line-height: 3.86;
  letter-spacing: normal;
  
  color: #221f1f;
 }
 .networklist{
   display: flex;
   flex-direction: row;
   justify-content: center;

 }
.network__item{
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  
}
.network__logo{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.network__item:hover{
  background: #f89513;
}