.reviews{
  margin: 0 auto;
  margin-bottom: 68px;
}
.reviews__container{
  margin: 0 auto;
  padding-left: 110px;
}
.reviews__tittle{
  font-family: 'Open Sans';
  font-size: 49px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 45px;
  letter-spacing: 1.47px;
  text-align: left;
  color: #221f1f;
  margin: 0;
  margin-bottom:50px;
}
.reviews__list{
  margin-bottom: 47px;
}
