
.serviceslist{
  display: flex;
  flex-wrap: wrap;
}
.serviceslist__item{
 width: calc(100%/3 - 20px);
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 align-items: flex-start;
}
.serviceslist__ref{
  text-decoration: none;
}
.serviceslist__avatar{ 
  border-radius: 3%;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.serviceslist__avatar::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0,0,0,.5);
}
.serviceslist__avatar:hover::after{
  background: none;
}
.serviceslist__pic{
  height: 153px;
  width: 250px;
  display: block;
  object-fit: cover;
  
  
}
.serviceslist_inscr{
  display: flex;
  color: white;
  font-size: 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.serviceslist__desc{
  font-family: 'Roboto';
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #221f1f;
  word-wrap: break-word;
 
}
.serviceslist span{
  display: block;
  line-height: 21px;
  font-weight: bold;
  margin-bottom: 5px;
}
.serviceslist p{
  display: block;
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
  font-weight: 400;
}