.sidebar--main{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 25%;
  margin-right: 22px;
}
.nav--main{
  padding-left: 77px;
  padding-top: 41px;
  padding-bottom: 24px;
}