.sidebar--services{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 24%;
  margin-right: 17px;
  padding-top: 23px;
}
.nav--services{
  padding-left: 77px;
  padding-bottom: 6px;
  margin-bottom: 47px;
}