
.nav__list{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.nav__item--active .nav__link{
  color: #221f1f;
}
.nav__link{
  display: flex;
  text-decoration: none;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.2px;
  line-height: 3.6;
  color: #f89513;
  align-items: center;
 }
.nav__link::before{
  content: "";
  flex-shrink: 0;
  margin-right: 18px;
  background: url('../../sprites/icons/icons_sidebar.png');
}
.nav__link--icon--main::before{
  width: 19px;
  height: 14px;
  background-position: -49px -48px;
}
.nav__link--icon--feed::before{
  width: 20px; 
  height: 18px;
  background-position: -50px -10px;
}
.nav__link--icon--service::before{
  width: 19px; 
  height: 14px;
  background-position: -90px -44px;
} 
.nav__link--icon--main:hover::before{
  width: 19px; 
  height: 14px;
  background-position: -10px -48px;
}
.nav__link--icon--feed:hover::before{
  width: 20px; 
  height: 18px;
  background-position: -10px -10px;
}
.nav__link--icon--service:hover::before{
  width: 19px; 
  height: 14px;
  background-position: -90px -10px;
} 
.nav__link:hover{
  color:#221f1f;
  transition: .5s;
 }
 .nav__item--active .nav__link--icon--main::before{
  width: 19px; 
  height: 14px;
  background-position: -10px -48px;
}
.nav__item--active .nav__link--icon--feed::before{
  width: 20px; 
  height: 18px;
  background-position: -10px -10px;
}
.nav__item--active .nav__link--icon--service::before{
  width: 19px; 
  height: 14px;
  background-position: -90px -10px;
} 