.sidebar{
  width: 31%;
}
.nav__list{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.nav__item{
  text-align: center;
  margin: 0;
  margin-right: 23px;
}
.nav__item--active .nav__link{
  color: #f89513;
}
.nav__link{
  display: flex;
  text-decoration: none;
  font-family: 'OpenSans';
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.2px;
  line-height: 4.5;
  color: #fff;
  align-items: center;
 }
.nav__link::before{
  content: "";
  flex-shrink: 0;
  width: 20px;
  height: 16px;
  margin-right: 18px;
  background: center center / contain no-repeat;
}
.nav__link--icon--main::before{
  background-image: url('../../img/main_icon.png');
}
.nav__link--icon--feed::before{
  background-image: url('../../img/feed_icon.png');
}
.nav__link--icon--service::before{
  background-image: url('../../img/service_icon.png');
} 
.nav__link--icon--main:hover::before{
  background-image: url('../../img/main_icon-hover.png');
}
.nav__link--icon--feed:hover::before{
  background-image: url('../../img/feed_icon-hover.png');
}
.nav__link--icon--service:hover::before{
  background-image: url('../../img/service_icon-hover.png');
} 
.nav__link:hover{
  color:#f89513;
 }
 .nav__item--active .nav__link--icon--main::before{
  background-image: url('../../img/main_icon-hover.png');
}
.nav__item--active .nav__link--icon--feed::before{
  background-image: url('../../img/feed_icon-hover.png');
}
.nav__item--active .nav__link--icon--service::before{
  background-image: url('../../img/service_icon-hover.png');
} 