.withlove{
  word-wrap: break-word;
  margin: 0;
  text-decoration: none;
  font-family:'Open Sans';
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  width: 22%;
}
.withlove a{
  font-weight: 700;
}
.footer__loftschool{
  color: #fff;
}
.footer__author{
  color: #fff;
  text-decoration: none;
}